* {
  margin: auto 0;
  padding: 0;

  box-sizing: border-box;
  /* padding and border are included in width and height of element  */

  width: auto;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  /* background-color: red; */
  background-color: #f7efeb;
  color: black;
  max-height: 100%;
}

/* STYLING NAV BAR */

header {
  font-size: 1.5rem;
  background-color: #003366;
  display: block;
  height: 100%;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-row-item {
  color: white;
  padding: .5rem .5rem;
}

.header-row-item:hover {
  transition: color .2s;
  color: #FFC300;
  cursor: pointer;
}


h1 a {
  text-decoration: none;
  color: white;
}

h1 a:hover {
  transition: color .2s;
  color: #FFC300;
}

h2 {
  font-size: 2rem;
  padding: 1.5rem .25rem;
  background-color: #333333;
  color: white;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem .25rem;
  background-color: #bbbbbb;
}

h4 {
  font-size: 1.3rem;
  padding: 1rem .25rem;
}

section p {
  font-size:1.2rem;
  padding: 1rem .25rem;
}


aside ul {
  font-size:1.2rem;
  padding: 1rem .25rem;
}

aside ul li {
  list-style: none;
}

footer {
  background-color: #333333;
  color: white;
  font-size:1.2rem;
  padding: 1rem .25rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav ul li {
  list-style: none;
  box-sizing: content-box;
  width:100%;
  height:100%;
  border-bottom-style: solid;
  border-color: #f7efeb;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height:100%;
  text-align: center;
  padding: 1rem 0;
}

nav ul li:hover {
  transition: background-color .2s;
  background-color: #FFC300;
  list-style: none;
  box-sizing: content-box;
  width:100%;
  height:100%;
}



/* ----------- STYLING ART PORTFOLIO PREVIEW ---------------- */
main {
  max-width: 100%;
  box-sizing: border-box;
}

.mobilepreview {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  width:100%;
  max-width: 1000px;
  margin: auto;
}

.mobilepreview-col {
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobilepreview-item {
  width:100%;
}

.mobilepreview a {
  width: 100%;
}

.image-container img {
  width: 100%;
  /* visibility: hidden; */
}

.image-container {
  position: relative;
}

.preview-text {
  opacity: 0%;
  position: absolute;
  top: 0%;
  width:100%;
  height: 100%;
  z-index: 2;
  background-color: #333333 ;
}

.preview-text:hover {
  transition: opacity .2s;
  opacity: 75%;
}

.preview-text p {
  position: absolute;
  top:0%;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  padding-left: 5px;
}


/* ----------- STYLING ART PORTFOLIO PREVIEW ---------------- */

main {
  /* display: none;
  visibility: hidden; */
}


footer {
  /* display: none;
  visibility: hidden; */
}


/* Desktop Display */
@media only screen and (min-width: 850px) {
  /* * {
    background-color:red;
  } */

  body {
    padding: 0 5rem;
  }



  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  nav ul li {
    list-style: none;
    box-sizing: content-box;
    display: flex;
    height: auto;
    border-style: solid;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    text-decoration: none;
    display: block;
    font-size: .75rem;
    color: white;
    height:auto;
    justify-content: center;
    padding: auto 0;
  }

  nav ul li:hover {
    transition: color .2s;
    background-color: #FFC300;
    box-sizing: content-box;
    border-bottom-style: none;
    height: auto;
  }

  .hamburger {
    display: none;
    visibility: hidden;
  }

  /* VVV STYLING RESUME VVV */

  .resume {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: red; */
    align-items: stretch;
    box-sizing: border-box;
  }

  .resume-col1 {
    /* background-color: red; */
    width: 50%;
    margin-top: 0;
    padding-right: 5px;
  }

  .resume-col2 {
    /* background-color: blue; */
  }


  /* ^^^ STYLING NAV BAR ^^^ */

}
