* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /* padding and border are included in width and height of element  */
}

body {
  font-family: sans-serif;
  background-color: #f7efeb;
  color: black;
  max-height: 100%;
}

/* STYLING NAV BAR */

header {
  font-size: 1.5rem;
  background-color: #003366;
  display: block;
  height: 100%;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-row-item {
  color: white;
  padding: .5rem .5rem;
}

.header-row-item:hover {
  transition: color .2s;
  color: #FFC300;
  cursor: pointer;
}


h1 a {
  text-decoration: none;
  color: white;
}

h1 a:hover {
  transition: color .2s;
  color: #FFC300;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav ul li {
  list-style: none;
  box-sizing: content-box;
  width:100%;
  height:100%;
  border-bottom-style: solid;
  border-color: #f7efeb;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height:100%;
  text-align: center;
  padding: 1rem 0;
}

nav ul li:hover {
  transition: background-color .2s;
  background-color: #FFC300;
  list-style: none;
  box-sizing: content-box;
  width:100%;
  height:100%;
}

/* STYLING NAV BAR */

/* ----------- STYLING ART PORTFOLIO PREVIEW ---------------- */
main {
  max-width: 100%;
  box-sizing: border-box;
}

.mobilepreview {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  width:100%;
  max-width: 1000px;
  margin: auto;
}

.mobilepreview-col {
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobilepreview-item {
  width:100%;
}

.mobilepreview a {
  width: 100%;
}

.image-container img {
  width: 100%;
  /* visibility: hidden; */
}

.image-container {
  position: relative;
}

.preview-text {
  opacity: 0%;
  position: absolute;
  top: 0%;
  width:100%;
  height: 100%;
  z-index: 2;
  background-color: #333333 ;
}

.preview-text:hover {
  transition: opacity .2s;
  opacity: 75%;
}

.preview-text p {
  position: absolute;
  top:0%;
  font-size: 3rem;
  font-family: sans-serif;
  color: white;
  padding-left: 5px;
}


/* ----------- STYLING ART PORTFOLIO PREVIEW ---------------- */

main {
  /* display: none;
  visibility: hidden; */
}


footer {
  /* display: none;
  visibility: hidden; */
}


/* Desktop Display */
@media only screen and (min-width: 850px) {
  /* * {
    background-color:red;
  } */

  body {
    padding: 0 5rem;
  }



  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  nav ul li {
    list-style: none;
    box-sizing: content-box;
    display: flex;
    height: auto;
    border-style: solid;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    text-decoration: none;
    display: block;
    font-size: .75rem;
    color: white;
    height:auto;
    justify-content: center;
    padding: auto 0;
  }

  nav ul li:hover {
    transition: color .2s;
    background-color: #FFC300;
    box-sizing: content-box;
    border-bottom-style: none;
    height: auto;
  }

  .hamburger {
    display: none;
    visibility: hidden;
  }

}

/* body {
  background-color: #f7efeb;
  font-family: sans-serif;
}

a h1 {
  color: white;
  background-color: #003366;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #003366;
}

a:hover {
  color: #FFC300;
}

h1 {
  font-stretch: Expanded;
  text-decoration: none;
}

ul li {
  list-style: none;
}

footer {
  border-style: solid none none none;
  font-size: 60%;
}

img {
  max-width:800px;
  width:100%;
}

article {
  border-style: solid none none none;
}

iframe {
  border: none;
  width: 560px;
  height:315px;
}

nav {
  padding: 0 15% 0 5%;
}

nav ul {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

nav ul li {
  padding: 5px;
  border-style: solid;
  color: #003366;
}

.archclass {
  display: flex;
  flex-direction: row;
}

.archentry {
  padding: 0 20px 0 20px;
}

.description {
  margin-bottom: 10px;
} */
