* {
  margin: auto 0;
  padding: 0;

  box-sizing: border-box;
  /* padding and border are included in width and height of element  */

  width: auto;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  /* background-color: red; */
  background-color: #f7efeb;
  color: black;
  max-height: 100%;
  margin: 0 auto;
}

/* STYLING NAV BAR */

header {
  font-size: 1.5rem;
  background-color: #003366;
  display: block;
  margin: 0;
  height: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.header-row-item {
  color: white;
  padding: .5rem .5rem;
}

.header-row-item:hover {
  transition: color .2s;
  color: #FFC300;
  cursor: pointer;
}


h1 a {
  text-decoration: none;
  color: white;
}

h1 a:hover {
  transition: color .2s;
  color: #FFC300;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.5rem .25rem;
  background-color: #000000;
  color: white;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem .25rem;
  background-color: #bbbbbb;
}

h4 {
  font-size: 1.3rem;
}

section p {
  font-size:1.2rem;
  padding: 1rem .25rem;
}


aside ul {
  font-size:1.2rem;
  padding: 1rem .25rem;
}

aside ul li {
  list-style: none;
}

footer {
  background-color: #333333;
  color: white;
  font-size:1.2rem;
  padding: 1rem .25rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  background-color: #222222;
  height:100%;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav ul li {
  list-style: none;
  box-sizing: content-box;
  width:100%;
  height:inherit;
  border-bottom-style: solid;
  border-color: #f7efeb;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height:100%;
  text-align: center;
  padding: 1.5rem 0;
}

nav ul li:hover {
  transition: background-color .2s;
  background-color: #FFC300;
  list-style: none;
  box-sizing: content-box;
  width:100%;
  height:100%;
}

.maincontent {

}

/* ----------- STYLING ART PORTFOLIO PREVIEW ---------------- */
main {
  max-width: 100%;
  box-sizing: border-box;
}

.mobilepreview {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  width:100%;
  max-width: 1000px;
  margin: auto;
}

.mobilepreview-col {
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobilepreview-item {
  width:100%;
}

.mobilepreview a {
  width: 100%;
}

.image-container img {
  width: 100%;
  /* visibility: hidden; */
}

.image-container {
  position: relative;
  padding-bottom: 0 0;
  margin: 0 0;
}

.image-container:hover {
  cursor: pointer;
}

.preview-text {
  opacity: 0%;
  position: absolute;
  top: 0%;
  width:100%;
  height: 100%;
  z-index: 2;
  background-color: #333333 ;
}

.preview-text:hover {
  transition: opacity .2s;
  opacity: 75%;
}

.preview-text p {
  position: absolute;
  top:0%;
  font-size: 2rem;
  font-family: sans-serif;
  color: white;
  padding-left: 5px;
}


/* ----------- STYLING ART PORTFOLIO PREVIEW ---------------- */

main {
  /* display: none;
  visibility: hidden; */
}


footer {
  /* display: none;
  visibility: hidden; */
}

.description {
  padding: 2rem 0 2rem 0;
}

/* VVV STYLING ACCORDION VVV */
.accordion {
  background-color: #dddddd;
  /* visibility: hidden; */
  width: 95%;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.accordion-header {
  background-color: #444444;
  min-height: 3.5rem;
  padding: 1rem 3rem 1rem .75rem;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

.accordion-header:hover {
  background-color: #888888;
}

.accordion-item-content {
  display: flex;
  flex-direction: column;
}

.accordion-header::after {
  content: "\25BE";
  position: absolute;
  right: 1rem;
}

.accordion-header.active::after {
  content: "\25BE";
  position: absolute;
  right: 1rem;
  transform: rotate(180deg);
}

.accordion-subheader{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 3rem 1rem 1.5rem;
}

.accordion-step {
  padding: 1.5rem 2rem 3rem 2rem;
}

.accordion-download {
  text-align: right;
  padding-right: 2rem;
  padding-bottom: .5rem;
}

.accordion-download a {
  font-size: 1.5rem;
}

/* ^^^ STYLING ACCORDION ^^^ */

/* VVVV MODAL CONTENT vvvv */

.modal {
  display: block;
  position: fixed;
  z-index:1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  color: white;
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: white;
  padding: 10px 0;
  height: 150px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
}

.close:hover {
  cursor: pointer;
  color: #FFC300;
}

.zoom {
  width: 120% !important;
  height: auto;
}

/* ^^^^ MODAL CONTENT ^^^^ */



/* Desktop Display */
@media only screen and (min-width: 850px) {
  /* * {
    background-color:red;
  } */

  body {
    /* padding: 0 5rem; */
  }

  .maincontent {
    padding: 0 5rem;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    box-sizing: content-box;
    margin: auto 0;
    visibility: visible !important;
  }

  #hamburger {
    display: none;
    visbility: hidden;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  nav ul li {
    list-style: none;
    box-sizing: content-box;
    display: flex;
    height: auto;
    border-style: solid;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    text-decoration: none;
    display: block;
    font-size: .75rem;
    color: white;
    height:auto;
    justify-content: center;
  }

  nav ul li:hover {
    transition: color .2s;
    background-color: #FFC300;
    box-sizing: content-box;
    border-bottom-style: none;
    height: auto;
  }

  /* VVV STYLING RESUME VVV */

  .resume {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: red; */
    align-items: stretch;
    box-sizing: border-box;
  }

  .resume-col1 {
    /* background-color: red; */
    width: 50%;
    margin-top: 0;
    padding-right: 5px;
  }

  .resume-col2 {
    /* background-color: blue; */
  }


  /* ^^^ STYLING RESUME ^^^ */

  /* VVV STYLING ACCORDION VVV */
    .accordion {
      width: 85%;
    }

    .accordion-item-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .accordion-item-content h4 {
      margin: 0 0 0 0;
    }

    .accordion-step {
      width: 50%;
    }

    .accordion-step img {
      width:100%;
    }
  /* ^^^ STYLING ACCORDION ^^^ */

  /* VVV STYLING ART PORTFOLIO VVV*/

  .preview-text p {
    position: absolute;
    top:0%;
    font-size: 3rem;
    font-family: sans-serif;
    color: white;
    padding-left: 5px;
  }

  /* ^^^ STYLING ART PORTFOLIO ^^^ */
}
